:root {
  --color-main: #333;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  color: var(--color-main);
}

.wrapper {
  padding: 5px 20px;
}

.wrapper fieldset {
  margin: 20px 0;
}

.field-wrap {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.field-wrap textarea {
  width: 100%;
  flex-grow: 1;
}

.field-row {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.field-row .item {
  height: 40%;
  margin-right: 20px;
  background-color: white !important;
}

.field-row .button {
  margin-right: 10px;
}

form {
  border: thin solid #888;
  padding: 2rem;
  margin-bottom: 2rem;
}

.header {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

